.container-footer{
    background-color: #3c3c3c;
}


.custom-hr {
    border: none;
    border-top: 3px solid gray; /* Aumenta el grosor */
    height: 1px; /* Altura de la línea */
    width: 40rem;
    margin: 20px 0; /* Margen superior e inferior */
}
