.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.todo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.todo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.text {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
    padding-bottom: 15px;
}

.text2 {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
    padding-bottom: 15px;
    color: #00274c;
}

.text3 {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-container {
    margin-right: 20px;
    perspective: 1000px;
}

.imagen-container2 {
    transition: transform 2s;
}

.imagen-container2:hover {
    transform: scale(1.05);
}


.animate-imagen {
    animation: slideFromBottom 1.0s ease-in-out;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.par-bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botones2 {
    width: 7rem;
    height: 50px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    font-weight: bold;
    color: #00274c;
    transition: background-size ease;
    background-size: 100% 0;
    background-position: top;
}

.botones2:hover {
    background-color: white;
    color: #1e93f3;
}

.parr {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.parr2 {
    font-weight: 100;
    text-align: left;
    font-size: 20px;
    color: #00274c;
}

#sobremi {
    /* Estilos iniciales */
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Transición de opacidad */
}

#sobremi.scroll-activo {
    /* Estilos aplicados cuando la clase scroll-activo está presente */
    opacity: 1;
    background-image: linear-gradient(235deg, #4affff 0, #1e93f3 50%, #00274c 100%);
}