.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.todo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.todo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}




.text {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
    padding-bottom: 15px;
}

.text2 {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
    padding-bottom: 15px;
    color: #00274c;
}

.text3 {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
}

.text4 {
    text-align: center;
    font-family: var(--font-libre-baskerville);
    font-weight: 750;
    padding-bottom: 15px;
    color: #00274c;
    transition: color 0.5s ease;
}

.text4:hover {
    color: #1e93f3;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-container {
    margin-right: 20px;
    // perspective: 1000px;
}

.imagen-container2 {
    transition: transform 2s;
}

.imagen-container2:hover {
    transform: scale(1.05);
}


.animate-imagen {
    animation: slideFromBottom 1.0s ease-in-out;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.par-bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botones2 {
    width: 7rem;
    height: 50px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    font-weight: bold;
    color: #00274c;
    transition: background-size ease;
    background-size: 100% 0;
    background-position: top;
}

.botones2:hover {
    background-color: white;
    color: #1e93f3;
}

.parr {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.parr2 {
    font-weight: 100;
    text-align: left;
    font-size: 20px;
    color: #00274c;
}


#sobremi {
    /* Estilos iniciales */
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Transición de opacidad */
}

#sobremi.scroll-activo {
    /* Estilos aplicados cuando la clase scroll-activo está presente */
    opacity: 1;
    background-image: linear-gradient(235deg, #4affff 0, #1e93f3 50%, #00274c 100%);
}

@media screen and (max-width: 767px) {
    #sobremi.scroll-activo {
        min-height: auto;
        /* Cambiar la altura mínima a "auto" */
    }

    .container.todo {
        padding: 20px;
        /* Agregar un espacio alrededor del contenido en dispositivos móviles */
    }

    .content {
        flex-direction: column;
        /* Cambiar la dirección a columna */
        align-items: center;
        /* Centrar los elementos */
        text-align: center;
        /* Alinear el texto al centro */
    }

    .imagen-container {
        margin-right: 0;
        /* Eliminar el margen derecho en dispositivos móviles */
    }

    .par-bot {
        align-items: center;
        margin-top: 20px;
        /* Agregar espacio entre la imagen y los párrafos */
    }

    .botones2 {
        width: 150px;
        /* Ancho de los botones */
        margin-top: 20px;
        /* Agregar espacio entre los párrafos y los botones */
    }

    .parr {
        font-weight: 500;
        text-align: center;
        font-size: 20px;
        margin-left: 0;
        /* Eliminar el margen izquierdo del texto */
        text-align: center;
    }

    .imagen-container2 {
        max-width: 100%;
        /* Ajusta el ancho máximo de la imagen */
        height: auto;
        /* Ajusta la altura automáticamente para mantener la proporción */
    }
}